# Created by https://www.toptal.com/developers/gitignore/api/add
# Edit at https://www.toptal.com/developers/gitignore?templates=add

#!! ERROR: add is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/add
build/
